// _base.scss
// ==============
body {
  font-family: $bodyFont;
  font-size: 1.1em;
}

* {
  box-sizing: border-box;
}

.bodyFrame,
.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.side-nav {
  order: -1;
}
.side-nav, .right-column {
  //background-color: rgba($orange, 0.2);
  text-align: center;
}
.central-content {
  //background-color: rgba($orange, 0.4);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
    flex: 1;
  }
  .central-content {
    flex: 1;
  }
  .side-nav, .right-column {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
