// _variables.scss
// =================
@import 'https://fonts.googleapis.com/css?family=Roboto';

$beige         : #E3C691;
$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;
$orange        : #ffcf06;

$headFont : 'Roboto', sans-serif;
$bodyFont : 'Roboto', sans-serif;

