<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sky Photo Gallery</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bodyFrame">

<h1>Old School Cool Photos</h1>


<div id="target">Loading...</div>

<script src="js/script.js"></script>


<script id="template" type="x-tmpl-mustache">
<div class="mainContainer">
    <main class="central-content">
        {{#children}}
            <div class="thumbBox">
                {{#data}}
                    <div class="imageBox">
                        <img onclick="openModal();currentSlide(1)" class="hover-shadow cursor image" src="{{url}}" />
                    </div>
                    <div class="textBox">
                        <div class="title">{{title}}</div>
                    </div>
                {{/data}}
            </div>
        {{/children}}
    </main>
    <nav class="side-nav">Menu</nav>
    <aside class="right-column">Ads</aside>
</div>


<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        {{#children}}
            <div class="mySlides">
                <div class="numbertext">1</div>
                {{#data}}
                    <div class="bigImageBox">
                        <img src="{{url}}">
                    </div>
                {{/data}}
            </div>
        {{/children}}


        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>


    </div>
</div>


</script>

<script>

    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = new Array(25);
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>


</body>
</html>