@import "https://fonts.googleapis.com/css?family=Roboto";
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

* {
  box-sizing: border-box;
}

.bodyFrame,
.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.side-nav {
  order: -1;
}

.side-nav, .right-column {
  text-align: center;
}

.central-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
    flex: 1;
  }

  .central-content {
    flex: 1;
  }

  .side-nav, .right-column {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
.thumbBox:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.thumbBox {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  width: calc(20% - 20px);
  min-width: 150px;
}
.thumbBox .imageBox {
  position: relative;
  overflow: hidden;
  background: black;
  display: block;
  width: 100%;
  outline: 0 solid transparent;
  outline-offset: -4px;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.thumbBox .imageBox:before {
  content: "";
  display: block;
  padding-top: 69%;
}
.thumbBox .imageBox .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity .2s ease-out;
}
.thumbBox .textBox {
  padding-bottom: 43px;
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.thumbBox .textBox .title {
  position: absolute;
  overflow: hidden;
  height: 23px;
  margin: 10px;
  max-height: 40px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  background-color: black;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bigImageBox {
  display: block;
  height: 80vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.bigImageBox img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
