<div class="mainContainer">
    <main class="central-content">
        {{#children}}
            <div class="thumbBox">
                {{#data}}
                    <div class="imageBox">
                        <img onclick="openModal();currentSlide(1)" class="hover-shadow cursor image" src="{{url}}" />
                    </div>
                    <div class="textBox">
                        <div class="title">{{title}}</div>
                    </div>
                {{/data}}
            </div>
        {{/children}}
    </main>
    <nav class="side-nav">Menu</nav>
    <aside class="right-column">Ads</aside>
</div>

<!--
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        {{#children}}
            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                {{#data}}
                    <img src="{{url}}" style="width:100%">
                {{/data}}
            </div>
        {{/children}}


        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>


        {{#children}}
            <div class="column">
                {{#data}}
                    <img class="demo cursor" src="{{url}}" style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
                {{/data}}
            </div>
        {{/children}}

    </div>
</div>
-->